In [57]:
import pandas as pd
from datetime import datetime

In [58]:
kraje = ['global', 'us', 'gb', 'ae', 'ar', 'at', 'au', 'be', 'bg', 'bo', 'br', 'ca', 'ch', 'cl',
         'co', 'cr', 'cy', 'cz', 'de', 'dk', 'do', 'ec', 'ee', 'eg', 'es', 'fi', 'fr', 'gr',
         'gt', 'hk', 'hn', 'hu', 'id', 'ie', 'il', 'in', 'is', 'it', 'jp', 'kr', 'lt', 'lu',
         'lv', 'ma', 'mx', 'my', 'ni', 'nl', 'no', 'nz', 'pa', 'pe', 'ph', 'pl', 'pt', 'py',
         'ro', 'ru', 'sa', 'se', 'sg', 'sk', 'sv', 'th', 'tr', 'tw', 'ua', 'uy', 'vn', 'za']

In [59]:
kraje_rozw = ['global', 'United States', 'United Kingdom', 'United Arab Emirates', 'Argentina',
              'Austria', 'Australia', 'Belgium', 'Bulgaria', 'Bolivia', 'Brazil', 'Canada',
              'Switzerland', 'Chile', 'Colombia', 'Costa Rica', 'Cyprus', 'Czechia', 'Germany',
              'Denmark', 'Dominican Republic', 'Ecuador', 'Estonia', 'Egypt', 'Spain', 'Finland',
              'France', 'Greece', 'Guatemala', 'Hong Kong', 'Honduras', 'Hungary', 'Indonesia',
              'Ireland', 'Israel', 'India', 'Iceland', 'Italy', 'Japan', 'South Korea', 'Lithuania',
              'Luxembourg', 'Latvia', 'Morocco', 'Mexico', 'Malaysia', 'Nicaragua', 'Netherlands',
              'Norway', 'New Zealand', 'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal',
              'Paraguay', 'Romania', 'Russia', 'Saudi Arabia', 'Sweden', 'Singapore', 'Slovakia',
              'El Salvador', 'Thailand', 'Turkey', 'Taiwan', 'Ukraine', 'Uruguay', 'Vietnam', 'South Africa']

In [60]:
high_income = ['Greece', 'Panama', 'Poland', 'Australia', 'Portugal', 'Austria', 'Hungary', 'Iceland', 'Qatar', 'Bahrain', 'Ireland', 'Romania',
'Belgium', 'Israel', 'Saudi Arabia', 'Italy', 'Japan', 'Singapore', 'South Korea', 'Canada', 'Kuwait', 'Slovakia',
'Latvia', 'Slovenia', 'Liechtenstein', 'Spain', 'Chile', 'Lithuania', 'Croatia', 'Luxembourg', 'Sweden',
'Cyprus', 'Malta', 'Switzerland', 'Hong Kong', 'Czechia', 'Taiwan', 'Denmark', 'Monaco', 'Estonia', 'Netherlands',
'United Arab Emirates', 'Finland', 'United Kingdom', 'France', 'New Zealand', 'United States', 'Uruguay', 'Germany',
'Norway', 'Gibraltar', 'Oman']

In [61]:
upper_middle = ['Argentina', 'Armenia', 'Paraguay', 'Azerbaijan', 'Guatemala', 'Peru', 'Belarus', 'Russia', 'Indonesia',
 'Samoa', 'Bosnia and Herzegovina', 'Iran''Serbia', 'Botswana', 'Iraq', 'South Africa', 'Brazil',
 'Jamaica', 'Bulgaria', 'Jordan', 'China', 'Kazakhstan', 'Colombia', 'Kosovo', 'Thailand', 'Costa Rica',
 'Lebanon', 'Tonga', 'Cuba', 'Libya', 'Turkey', 'Dominica', 'Malaysia', 'Turkmenistan', 'Dominican Republic',
 'Maldives', 'Tuvalu', 'Ecuador', 'Mexico']

In [62]:
lower_middle = ['Angola', 'Honduras', 'Algeria', 'India', 'Philippines', 'Bangladesh', 'Kenya', 'Benin', 'Senegal',
                'Bhutan', 'Bolivia', 'Sri Lanka', 'Lesotho', 'Tanzania', 'Cambodia', 'Mauritania', 'Cameroon',
                'Tunisia', 'Moldova', 'Ukraine', 'Congo', 'Mongolia', 'Uzbekistan', 'Morocco', 'Vietnam', 'Egypt',
                'El Salvador', 'Nicaragua', 'Zambia', 'Nigeria', 'Zimbabwe', 'Ghana', 'Pakistan']

In [63]:
low_income = ['Afghanistan', 'Guinea-Bissau', 'Sierra Leone', 'Burkina Faso', 'Haiti', 'Somalia', 'Burundi', 
              'South Sudan', 'Central African Republic', 'Liberia', 'Sudan', 'Chad', 'Madagascar', 'Syria',
              'Congo', 'Malawi', 'Tajikistan', 'Mali', 'Togo', 'Ethiopia', 'Mozambique', 'Uganda', 'Gambia',
              'Niger', 'Yemen', 'Guinea', 'Rwanda']

In [64]:
kody = pd.DataFrame()
kody['kraje'] = kraje
kody['kraje_rozw'] = kraje_rozw
kody

     kraje            kraje_rozw
0   global                global
1       us         United States
2       gb        United Kingdom
3       ae  United Arab Emirates
4       ar             Argentina
..     ...                   ...
65      tw                Taiwan
66      ua               Ukraine
67      uy               Uruguay
68      vn               Vietnam
69      za          South Africa

[70 rows x 2 columns]

In [65]:
mob = pd.read_csv('C:/Users/szymo/Desktop/Nauka/Licencjat/Dane/Google Mobility/Global_Mobility_Obrobione.csv')
mob = mob.rename(columns={'date': 'data'})

In [75]:
x = 0
wszy = pd.DataFrame()
for kraj in kraje: 
    df = pd.DataFrame()
    try:
        avg = pd.read_csv('C:/Users/szymo/Desktop/Nauka/Licencjat/Dane/licencjat dane/daily_avg/'+kraj+'-daily_avg.csv')
        ctry = kody[kody["kraje"] == kraj]["kraje_rozw"].values[0]
        mob_kraj = mob.loc[mob['country_region'] == ctry]
        df = avg.merge(mob_kraj, how='right')
        df = df.drop(columns=['Unnamed: 0'], axis=1)
        df = df.dropna()
        if ctry in high_income:
            df['income'] = 'high'
        elif ctry in upper_middle:
            df['income'] = 'upper_middle'
        elif ctry in lower_middle:
            df['income'] = 'lower_middle'
        elif ctry in low_income:
            df['income'] = 'low'
        else:
            print("BRAK KLASYFIKACJI KRAJU: ", ctry)
        
        # Dodanie zmiennych
        wknd = []
        day = []
        month = []
        for da in df['data']:
            da = datetime.fromisoformat(da)
            mo = da.month
            weekday = da.weekday()
            
            # Miesiace
            if mo == 1:
                month.append('January')
            if mo == 2:
                month.append('February')
            if mo == 3:
                month.append('March')
            if mo == 4:
                month.append('April')
            if mo == 5:
                month.append('May')
            if mo == 6:
                month.append('June')
            if mo == 7:
                month.append('July')
            if mo == 8:
                month.append('August')
            if mo == 9:
                month.append('September')
            if mo == 10:
                month.append('October')
            if mo == 11:
                month.append('November')
            if mo == 12:
                month.append('December')
            
            # Dni
            if weekday == 0:
                wknd.append(0)
                day.append('monday')
            if weekday == 1:
                wknd.append(0)
                day.append('tuesday')
            if weekday == 2:
                wknd.append(0)
                day.append('wednesday')
            if weekday == 3:
                wknd.append(0)
                day.append('thursday')
            if weekday == 4:
                wknd.append(0)
                day.append('friday')
            if weekday == 5:
                wknd.append(1)
                day.append('saturday')
            if weekday == 6:
                wknd.append(1)
                day.append('sunday')
        df['month'] = month
        df['weekday'] = day
        df['is_weekend'] = wknd
        print(kraj, " - SUKCES")
    except:
        x = x+1
        print(kraj, " - ERROR")
    try:
        df = df[['data',
             'weekday',
             'srednia',
             'zmiana',
             'country_region',
             'retail_and_recreation_percent_change_from_baseline',
             'grocery_and_pharmacy_percent_change_from_baseline',
             'parks_percent_change_from_baseline',
             'transit_stations_percent_change_from_baseline',
             'workplaces_percent_change_from_baseline',
             'residential_percent_change_from_baseline',
             'is_weekend',
             'month',
             'income']]
    except:
        try:
            df = df[['data',
                 'weekday',
                 'srednia',
                 'zmiana',
                 'country_region',
                 'retail_and_recreation_percent_change_from_baseline',
                 'grocery_and_pharmacy_percent_change_from_baseline',
                 'parks_percent_change_from_baseline',
                 'transit_stations_percent_change_from_baseline',
                 'workplaces_percent_change_from_baseline',
                 'residential_percent_change_from_baseline',
                 'is_weekend',
                 'month']]
        except:
            print(kraj, da, " - ERROR")
    #df.to_csv('C:/Users/szymo/Desktop/Nauka/Licencjat/Dane/licencjat dane/poszczegolne/'+ctry+'-data.csv', index=False)
    wszy = wszy.append(df, ignore_index=True)
print('Liczba bledow:', x)
wszy = wszy[['data',
         'weekday',
         'srednia',
         'zmiana',
         'country_region',
         'retail_and_recreation_percent_change_from_baseline',
         'grocery_and_pharmacy_percent_change_from_baseline',
         'parks_percent_change_from_baseline',
         'transit_stations_percent_change_from_baseline',
         'workplaces_percent_change_from_baseline',
         'residential_percent_change_from_baseline',
         'is_weekend',
         'month',
         'income']]
#wszy.to_csv('C:/Users/szymo/Desktop/Nauka/Licencjat/Dane/licencjat dane/merged.csv', index=False)

BRAK KLASYFIKACJI KRAJU:  global
global  - SUKCES
us  - SUKCES
gb  - SUKCES
ae  - SUKCES
ar  - SUKCES
at  - SUKCES
au  - SUKCES
be  - SUKCES
bg  - SUKCES
bo  - SUKCES
br  - SUKCES
ca  - SUKCES
ch  - SUKCES
cl  - SUKCES
co  - SUKCES
cr  - SUKCES
cy  - SUKCES
cy 2021-03-14 00:00:00  - ERROR
cz  - SUKCES
de  - SUKCES
dk  - SUKCES
do  - SUKCES
ec  - SUKCES
ee  - SUKCES
eg  - SUKCES
es  - SUKCES
fi  - SUKCES
fr  - SUKCES
gr  - SUKCES
gt  - SUKCES
hk  - SUKCES
hn  - SUKCES
hu  - SUKCES
id  - SUKCES
ie  - SUKCES
il  - SUKCES
in  - SUKCES
is  - SUKCES
it  - SUKCES
jp  - SUKCES
kr  - SUKCES
kr 2021-03-14 00:00:00  - ERROR
lt  - SUKCES
lu  - SUKCES
lv  - SUKCES
ma  - SUKCES
mx  - SUKCES
my  - SUKCES
ni  - SUKCES
nl  - SUKCES
no  - SUKCES
nz  - SUKCES
pa  - SUKCES
pe  - SUKCES
ph  - SUKCES
pl  - SUKCES
pt  - SUKCES
py  - SUKCES
ro  - SUKCES
ru  - SUKCES
ru 2021-03-14 00:00:00  - ERROR
sa  - SUKCES
se  - SUKCES
sg  - SUKCES
sk  - SUKCES
sv  - SUKCES
th  - SUKCES
tr  - SUKCES
tw  - SUKCES
ua  - SUKCES
ua 2021-03-14 00:00:00  - ERROR
uy  - SUKCES
vn  - SUKCES
za  - SUKCES
Liczba bledow: 0

In [44]:
wszy[wszy["low_middle"] == 1]

Empty DataFrame
Columns: [data, srednia, retail_and_recreation_percent_change_from_baseline, grocery_and_pharmacy_percent_change_from_baseline, parks_percent_change_from_baseline, transit_stations_percent_change_from_baseline, workplaces_percent_change_from_baseline, residential_percent_change_from_baseline, is_weekend, high_income, upper_middle, lower_middle, low_middle]
Index: []

In [30]:
kody[kody["kraje"] == kraj]["kraje_rozw"].values[0]

'South Africa'

In [36]:
kraj = 'pl'

In [69]:
ctry

'global'